<h2>Backstory</h2>

<p>PaperPCB started in early 2025 when I was trying electronics and running into the classic breadboard learning curve. Loose wires, mysterious failures, and circuits that stopped working the moment you looked away. I spent a lot of time debugging things that turned out to just be bad connections.

<p>As I got (somewhat) better at soldering, I tried to make PCBs the usual DIY way. Laser printer transfers, glossy paper, an iron, and etching chemicals. It worked sometimes. But I didn't love the acids, and drilling accurate holes quickly got frustrating.

<p>Meanwhile, I'd been using a Cricut cutter for other hobbies. I am a bit of a paper nerd. I like making boxes, cards, and books. One night it occurred to me that the Cricut cuts very thin materials extremely well.

<p>Which led to a simple question. Could it cut copper tape?

<p>Of course it can! Stick those traces onto paper, add some sticker backing, and suddenly you have something that behaves a lot like a PCB. Or at least close enough that I started using it for more and more complex projects.

<p>I hope it's interesting and useful. Thanks for checking it out.


<p>-Scott

<h2>Huge thanks</h2>

<p>PaperPCB is built with:
<ul>

<li><b><a href="https://picocss.com" target="_blank">PicoCSS</a></b> - elegant CSS library for lovely UI (this site is a shameless ripoff of Lucas Larroche's amazing design)</li>

<li><b><a href="https://ejs.co" target="_blank">EJS</a></b> - the best HTML templating library out there, if you're a JS lover like me

<li><b><a href="https://github.com/krasimir/navigo" target="_blank">Navigo</a></b> - excellent routing library for single page apps

</ul>
