<header class="is-fixed-above-lg">
  <div class="container">
    <a aria-label="Pico CSS homepage" data-discover="true" href="/" class="pcb-title-link">
      <img src="/img/paperpcb.svg" width="40">PaperPCB
    </a>
    <nav>
      <ul>
        <li class="hide-before-sm"><a class="contrast" data-discover="true" href="/">Studio</a></li>
        <li class="hide-before-sm"><a aria-current="page" class="contrast" data-discover="true" href="/docs/">Docs</a></li>
      </ul>
      <ul class="icons">
        <li>
          <a rel="noopener noreferrer" class="contrast" aria-label="GitHub" title="Github" href="https://github.com/scottlininger/paperpcb" target="_blank" title="Github Repo">
            <img src="/img/github.svg" width="20" alt="Github">
          </a>
        </li>
        <li>
          <a rel="noopener noreferrer" class="contrast" aria-label="YouTube" title="YouTube" href="https://www.youtube.com/@scottlininger4189" target="_blank">
            <img src="/img/youtube.svg" width="26" alt="YouTube">
          </a>
        </li>
        <li>
          <a class="contrast" aria-label="Discord" data-discover="true" title="Discord" href="https://discord.gg/jXWFuZHdEQ" target="_blank">
            <img src="/img/discord.svg" width="24" alt="Discord">
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>