<main class="container homepage">
  
  <link rel="stylesheet" href="/css/landings.css">
  <section class="hero">
    <div class="hook">
      <h1><mark>Beautiful Circuit&nbsp;Boards</mark> <br>made at home</h1>
      <p class="secondary">This free website converts your PCB designs into desktop cutter recipes,
      with easy-to-follow instructions and community support.</p>
      <p>Iterate faster. <strong>Make cool stuff.</strong> Have fun.</p>
      <div class="grid ctas">
        <a role="button" data-discover="true" href="/docs">
          Read the docs
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round" class="icon-arrow-right">
            <g class="head">
              <path d="M10 16L14 12"></path>
              <path d="M10 8L14 12"></path>
            </g>
            <path class="line" d="M0 12H14"></path>
          </svg>
        </a>
        <a role="button" class="contrast" data-discover="true" href="/studio">
          Try it now
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round" class="icon-arrow-right">
            <g class="head">
              <path d="M10 16L14 12"></path>
              <path d="M10 8L14 12"></path>
            </g>
            <path class="line" d="M0 12H14"></path>
          </svg>
        </a>
      </div>
    </div>
    <div class="demo">
      <article class="component" aria-label="Demo">
        <form class="">
          <select name="select-demo" tabindex="-1" required="">
            <option disabled="" value="" selected="">Select...</option>
          </select>
          <button tabindex="-1" type="submit" class="fade-in" aria-busy="false">Next</button>
        </form>
        <footer class="code">
          <pre><code><noscript>&lt;<span class="token tag">form</span>&gt;<br/>  &lt;<span class="token tag">input</span><br/>    <span class="token tag attr-name">type</span>=<span class="token tag attr-value">&quot;email&quot;</span><br/>    <span class="token tag attr-name">placeholder</span>=<span class="token tag attr-value">&quot;Enter your email&quot;</span><br/>  /&gt;<br/>&lt;/<span class="token tag">form</span>&gt;</noscript><span as="span" style="opacity: 1;" data-typeit-id="6175998">&lt;<span class="token tag">form</span>&gt;<br>  &lt;<span class="token tag">label</span><span class="ti-cursor" data-ti-animation-id="6175998">|</span><br>  &lt;<span class="token tag">button</span>&gt;Next&lt;/<span class="token tag">button</span>&gt;<br>&lt;/<span class="token tag">form</span>&gt;</span></code></pre>
        </footer>
      </article>
    </div>
  </section>  
  
  


<section class="features">
	<hgroup>
		<h2>Accelerate&nbsp;Your 
			<mark>Prototyping</mark>
		</h2>
		<p><span class="nowrap">Like anything, PCBs get better the more you iterate.</span>
		<span class="nowrap">Make 'em at home and make 'em fast.</span></p>
	</hgroup>
	<div class="grid home-benefits">
		<article>
			<img src="/img/clock.svg">
			<h3>Prototype in an Afternoon</h3>
      <p>
        Got an idea? You could be holding it before dinner. Design your board, 
        run it through PaperPCB Studio, cut it, solder it, and see if it works.
        No waiting on shipping or fab queues.
      </p>
      <p>
        <a href="/docs">See how PCBs at home work ›</a>
      </p>
		</article>
		<article>
			<img src="/img/coin.svg">
			<h3>Low Cost, Low Commitment</h3>
      <p>
        With a $150 desktop cutter and some copper tape, you can make boards 
        for pennies. If your first version is wrong (it probably will be, right?) just 
        tweak it and try again.
      </p>
      <p>
        <a href="/docs/getting-started/what-you-need">See what you need ›</a>
      </p>
		</article>
		<article>
			<img src="/img/chemicals.svg">
			<h3>No Chemicals, No Etching</h3>
      <p>
        Skip the acid baths and mystery stains. PaperPCB uses peel-and-stick 
        copper and a cutting machine instead of harsh chemicals. That makes it 
        a little friendlier for homes, classrooms, and curious humans.
      </p>
      <p>
        <a href="/docs/getting-started/pros-and-cons">Read the pros and cons ›</a>
      </p>
		</article>
		<article>
			<img src="/img/grad.svg">
			<h3>Learn by Building</h3>
      <p>
        When you stick the copper, weed the traces, and poke the vias yourself, 
        you start to understand what a PCB actually is, and what it can be. It’s 
        hands-on, slightly imperfect, and surprisingly fun.
      </p>
      <p>
        <a href="/docs/tutorials">Try a simple tutorial ›</a>
      </p>
		</article>
		<article>
			<img src="/img/alien.svg">
			<h3>Flexible, Artsy, and a Little Weird</h3>
      <p>
        Try single-sided, double-layer, flexible, printed graphics, and odd shapes.
        You’re not limited to a green rectangle. PaperPCB plays nicely with 
        cardstock, PLA, vinyl, kapton, even wood if you’re feeling brave.
      </p>
      <p>
        <a href="/docs/tutorials/flexible-pcbs">Explore board flavors ›</a>
      </p>
		</article>
		<article>
			<img src="/img/tools.svg">
			<h3>Use the Tools You Already Love</h3>
      <p>
        Design in KiCad, EasyEDA, Photoshop, GIMP, Illustrator... whatever you’re comfortable 
        with. Then let PaperPCB line things up and generate printable PDFs 
        and cut-ready SVGs for Cricut, Silhouette, and friends.
      </p>
      <p>
        <a href="/docs/getting-started/paperpcb-studio">See how Studio works ›</a>
      </p>
		</article>
	</div>
</section>
</main>